<script id="template-livequeue" type="text/x-handlebars-template">
<p>\{{queue.length}} Items in der Queue.</p>
<div class="livequeue">
	<div class="elements">
	\{{#if queue.length}}
	\{{#each queue}}
		<div class="queueitem">
			<h1>
				\{{#if this.meta.random}}
				<span class="random"><i class="fa fa-random"></i></span>
				\{{/if}}
				<i class="fa fa-\{{queueSymbol this}}"></i>\{{queueTitle this}}
			</h1>
			<div class="content">
				<p>\{{queueDescription this}}</p>
			</div>
			<div class="bottom">
				<div class="row">
					<div class="col-md-6">
							<i class="fa fa-user"></i><b>:</b> \{{queueAuthor this}}
					</div>
					<div class="col-md-6"><i class="fa fa-clock-o"></i><b>:</b> \{{queueTime this}}</div>
				</div>
			</div>
		</div>
	\{{/each}}
	\{{else}}
	<p>Queue ist leer.</p>
	\{{/if}}
	</div>
</div>
</script>
<h3>Info</h3>
<ul class="nav sidebar-nav nav-pills nav-stacked">
	<li>
		<p><span class="fa-stack fa-lg pull-left"><i class="fa fa-money"></i></span> {{formatMoney session.user.money}}</p>
	</li>
	<li>
		<p><span class="fa-stack fa-lg pull-left"><i class="fa fa-user"></i></span> {{session.user.username}}</p>
	</li>
</ul>
<h3>Aktionen</h3>
<ul class="nav sidebar-nav nav-pills nav-stacked">
	<li>
		<a id="widgetstoggle"><span class="fa-stack fa-lg pull-left"><i class="fa fa-bars fa-stack-1x"></i></span> Toggle</a>
	</li>
	{{#if userPermissions.be-quiet}}
	<li>
		<a id="quiet-nav-btn"><span class="fa-stack fa-lg pull-left"><i class="fa fa-bell-slash"></i></span> Stumm</a>
	</li>
	{{/if}}
	<li>
		<a href="/users/settings"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cogs"></i></span> Einstellungen</a>
	</li>
	<li>
		<a id="nav-sign-out" href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-out"></i></span> Abmelden</a>
	</li>
</ul>
<h3>Queue</h3>
<div id="livequeuecontainer">
</div>
<script src="/dist/livequeue.js"></script>
