<h1>Befehle</h1>
<p>Derzeit sind dem Bot <b>{{bot.commands.length}}</b> Befehle bekannt.</p>
<link href="/style/commandbutton.css" rel="stylesheet">
<div class="container-fluid">
	<div class="row flush-col">
	{{#each bot.commands}}
		<div class="mix cmd-btn col-sm-3 list-group-item">
			<h3><i class="fa fa-{{icon}}"></i> {{name}}</h3>
			<p>
				{{description}}
			</p>
			{{#if hasArguments}}
			<div class="dropdown">
				<button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Ausführen
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					{{#each arguments}}
					<li><a argument="{{this}}" cmdId="{{../name}}" class="execute-command argument-select">{{this}}</a></li>
					{{/each}}
				</ul>
			</div>
			{{else}}
			<button cmdId="{{name}}" class="execute-command btn btn-primary btn-block" type="button">
				Ausführen
			</button>
			{{/if}}
		</div>
	{{/each}}
	</div>
</div>
<script>
	$(".execute-command").click(function(e) {
		e.preventDefault();
		var cmd = $(this).attr("cmdId");
		var arg = $(this).attr("argument");
		var string = "/api/command?command=" + cmd;
		if(arg) {
			string += "&argument=" + arg;
		}
		$.ajax(string);
	});
</script>
