<h1>RSS Feeds</h1>
<p>Es folgt eine Liste mit allen abonnierten RSS-Feeds:</p>
<ul class="list-group" id="feeds">
{{#if canrss}}
{{#each feeds}}
	<li class="list-group-item"><b>{{this.name}}</b> {{this.url}}
			<a style="float:right" class="btn btn-xs btn-danger delete-feed" rssId="{{this.id}}"><i class="fa fa-remove"></i></a>
	</li>
{{/each}}
{{else}}
{{#each feeds}}
	<li class="list-group-item"><b>{{this.name}}</b> {{this.url}}</li>
{{/each}}
{{/if}}
</ul>

{{#if canrss}}
<h2>RSS Feed hinzufügen</h2>
<p>Hier kann ein RSS-Feed hinzugefügt werden</p>
<form class="form-horizontal">
	<div class="form-group">
		<label for="url" class="col-sm-2 control-label">URL</label>
		<div class="col-sm-10">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">http://</span>
				<input type="text" class="form-control" placeholder="http://example.org/rss" id="url">
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Name" id="name">
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" type="button" id="go">Hinzufügen</button>
			</div>
	</div>
</form>
<script>
$("#go").click(function() {
	var url = $("#url").val();
	var name = $("#name").val();
	$.ajax("/api/rss/add?url=" + encodeURI(url) + "&name=" + encodeURI(name))
	.done(function(res) {
		if(res.okay) {
			spawnNotification('success', "Feed abonniert.");
			$("#feeds").append("<li class='list-group-item'><b>" + name + "</b> " + url + "</li>")
		}
	})
	.error(function(res) {
		spawnNotification('error', "Feed konnte nicht abonniert werden.");
	});
});
$("a.delete-feed").click(function() {
	var id = $(this).attr("rssId");
	var parent = $(this).parent();
	$.ajax("/api/rss/remove?id=" + id)
	.done(function(res) {
		if(res.okay) {
			spawnNotification('success', "Feed gelöscht.");
			parent.remove();
		}
	})
	.error(function(res) {
		spawnNotification('error', "Konnte Feed nicht löschen.");
	});
})
</script>
{{/if}}
