<h1>Gespeicherte Dialoge</h1>
<table class="table table-condensed table-responsive table-striped tablesorter table-condensed">
	<thead>
		<th>Zeitpunkt</th>
		<th>Dialog</th>
		<th><i class="fa fa-repeat"></i></th>
		<th class="no-sort"></th>
	</thead>
	<tbody>
		{{#each dialogs}}
		<tr>
			<td>{{formatDate submitted}} {{formatTime submitted}}</td>
			<td>
				{{#each records}}
				<p><a href="/users/profile/{{user.username}}">&lt;{{user.username}}&gt;</a> {{quote}}</p>
				{{/each}}
			</td>
			<td>{{used}}</td>
			<td><a dialogId="{{id}}" class="playdialog quote-btn btn btn-xs btn-success"><span class="fa fa-volume-down" aria-hidden="true"></span></a></td>
		</tr>
		{{/each}}
	</tbody>
</table>
<script src="/dist/record/dialogs.js"></script>
