<link href="/style/label.css" rel="stylesheet">
<style>

input:not(:checked)~span {
	background: #bbb !important;
}

input[type="checkbox"] {
	display:none;
}

label.tag-label {
	padding: 0;
	margin: 0;
}

</style>
<h1>Aufnahme bearbeiten</h1>
<p>Hier können Sie eine Aufnahme bearbeiten.</p>
<form class="form-horizontal">
	<div class="form-group">
		<label for="user" class="col-sm-2 control-label">Benutzer</label>
		<div class="col-sm-10">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
				<input name="user" type="text" class="form-control" value="{{record.user.username}}" disabled>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="time" class="col-sm-2 control-label">Zeitpunkt</label>
		<div class="col-sm-10">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-clock-o"></i></span>
				<input name="time" type="text" class="form-control" value="{{formatDate record.submitted}} {{formatTime record.submitted}}" disabled>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">Benutzer</label>
		<div class="col-sm-10">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-edit"></i></span>
				<textarea style="resize: none;" rows="3" name="description" class="form-control" id="description">{{record.quote}}</textarea>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Tags</label>
		<div class="col-sm-10">
			{{#each labels}}
			<label class="checkbox-inline tag-label">
				<input type="checkbox" class="tag-checkbox" tagId="{{this.id}}" {{#if this.has}}checked{{/if}}>
				<span class="label" style="background: {{colorify this.name}};">{{this.name}}</span>
			</label>
			{{/each}}
		</div>
	</div>
	<div class="form-group">
		<label for="save" class="col-sm-2 control-label">Speichern</label>
		<div class="col-sm-10">
			<button class="btn btn-default" type="button" id="submit"><i class="fa fa-save"></i> Submit</button>
		</div>
	</div>
</form>
<script>
$("#submit").click(function() {
	var quote = encodeURI($("#description").val());
	var labels = [];
	$(".tag-checkbox").each(function() {
		if($(this).prop('checked')) {
			labels.push($(this).attr('tagId'));
		}
	});
	var jsonLabels = encodeURI(JSON.stringify(labels));
	$.ajax("/api/record/edit?id={{record.id}}&quote=" + quote + "&labels=" + jsonLabels).done(function(res) {
		if(res.okay) {
			window.location.href = "/record/";
		}
	})
	.error(function() {
		spawnNotification('error', "Konnte Aufnahme nicht editieren.");
	});
});
</script>
