<h1>Zitate</h1>
<p>Derzeit befinden sich <b>{{quotes.length}}</b> Zitate in der Datenbank.</p>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Autor</td>
			<td>Zitate</td>
			<td>Eingetragen</td>
			<td>Verwendet</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
	{{#each quotes}}
		<tr>
			<td>{{author}}</td>
			<td>{{quote}}</td>
			<td>{{{formatDate submitted}}}</td>
			<td>{{used}}</td>
			<td><td><a quoteId="{{id}}"class="quote-btn btn btn-xs btn-success"><span class="fa fa-comment" aria-hidden="true"></span></a></td></td>
		</tr>
	{{/each}}
	</tbody
</table>

<script>
	$("a.quote-btn").click(function() {
		$.ajax("/api/quotes/speak?id=" + $(this).attr("quoteId"));
	});
</script>
