<h1>Zitate</h1>
<p>Derzeit befinden sich <b>{{quotes.length}}</b> Zitate in der Datenbank.</p>
<table class="table table-striped table-responsive tablesorter">
	<thead>
		<th>Autor</th>
		<th>Zitat</th>
		<th>Eingetragen</th>
		<th>Verwendet</th>
		<th class="no-sort"></th>
	</thead>
	<tbody>
	{{#each quotes}}
		<tr>
			<td>{{author}}</td>
			<td>{{quote}}</td>
			<td>{{{formatDate submitted}}}</td>
			<td>{{used}}</td>
			<td style="width: 30px;"><a quoteId="{{id}}"class="quote-btn btn btn-xs btn-success"><span class="fa fa-comment" aria-hidden="true"></span> Play</a></td>
		</tr>
	{{/each}}
	</tbody>
</table>
<script src="/dist/quotes/list.js"></script>
