<h1>Berechtigungen für {{user.username}}</h1>
<p>Hier können die einzelnen Berechtigungen für den Benutzer <b>{{user.username}}</b> eingestellt werden.</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Berechtigung</th>
			<th>Beschreibung</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each permissions}}
		<tr>
			<td><i class="fa fa-{{this.icon}}"></td>
			<td>{{this.name}}</td>
			<td>{{this.description}}</td>
			<td><input
				type="checkbox"
				permission="{{this.id}}"
				{{#if this.granted}} checked {{/if}}
				{{#unless this.canGrant}} disabled {{/unless}}
				class="perm-check"
				user="{{../user.username}}">
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<script src="/dist/users/permissions.js"></script>
