<h1>Berechtigungen für {{user.username}}</h1>
<p>Hier können die einzelnen Berechtigungen für den Benutzer <b>{{user.username}}</b> eingestellt werden.</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Berechtigung</th>
			<th>Beschreibung</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each permissions}}
		<tr>
			<td><i class="fa fa-{{this.icon}}"></td>
			<td>{{this.name}}</td>
			<td>{{this.description}}</td>
			<td><input
				type="checkbox"
				permission="{{this.id}}"
				{{#if this.granted}} checked {{/if}}
				{{#unless this.canGrant}} disabled {{/unless}}
				class="perm-check">
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<script>
	function revoke(checkbox) {
		$.ajax("/api/users/revokePermission?user={{user.username}}&permission=" + checkbox.attr('permission'))
		.done(function(res) {
			if(res.okay) {
				spawnNotification('success', "Die Berechtigung wurde erfolgreich entzogen!");
				checkbox.prop('checked', false);
			}
			else {
				spawnNotification('error', "Die Berechtigung konnte nicht entzogen werden!");
				checkbox.prop('checked', true);
			}
		});
	}

	function grant(checkbox) {
		$.ajax("/api/users/grantPermission?user={{user.username}}&permission=" + checkbox.attr('permission'))
		.done(function(res) {
			if(res.okay) {
				spawnNotification('success', "Die Berechtigung wurde erfolgreich erteilt!");
				checkbox.prop('checked', true);
			}
			else {
				spawnNotification('error', "Die Berechtigung konnte nicht erteilt werden!");
				checkbox.prop('checked', false);
			}
		});
	}

	$(".perm-check").change(function(e) {
		e.preventDefault();
		e.stopPropagation();
		if(!$(this).attr('disabled')) {
			if(!this.checked) {
				revoke($(this));
			}
			else {
				grant($(this));
			}
		}
	});
</script>
