<h1>{{user.username}}</h1>
<table class="table table-striped">
	<tr>
		<td>Username</td>
		<td>{{user.username}}</td>
	</tr>
	<tr>
		<td>E-Mail</td>
		<td>{{user.email}}</td>
	</tr>
	<tr>
		<td>Minecraft</td>
		<td>{{user.minecraft}}</td>
	</tr>
	<tr>
		<td>Steam ID</td>
		<td>{{user.steamid}}</td>
	</tr>
	<tr>
		<td>Identifier</td>
		<td>{{user.identifier}}</td>
	</tr>
</table>
